<div class="fixed top-0 left-0 w-full h-full bg-gray-500 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white rounded-lg shadow-xl p-8 w-1/3 h-40% overflow-y-auto flex flex-col items-center">
      <h2 class="text-2xl font-semibold text-green-600 mb-8">
        Votre Quiz a été passé avec succès
      </h2>
  
      <div class="mb-4 w-full flex flex-col items-center">
        <label for="metier" class="block text-gray-700 text-sm font-bold mb-2 text-center">
          Votre note est ... sur 10
        </label>
      </div>
  
      <div class="flex justify-end mt-4 w-full">
        <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-5 rounded focus:outline-none focus:shadow-outline">
            Continuer
          </button>
      </div>
    </div>
  </div>
  
