<div class="mx-auto bg-gray-100">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center p-4">
  
      <div class="hidden md:flex flex-col items-center text-center md:text-left">
        <div class="mb-6">
          <h1 class="text-2xl sm:text-3xl font-bold mb-2">
            Créer un compte sur <span class="text-black">Find Me</span>
          </h1>
          <p class="text-gray-600 text-sm">
            Nouveau sur la plateforme ?
            <a href="/session-login" class="text-blue-500 hover:underline">Inscrivez-vous ici !</a>
          </p>
        </div>
  
        <img 
          src="assets/images/Page_Register/Register_Image.png"
          alt="Hiring Illustration"
          class="w-full max-w-xs sm:max-w-md md:max-w-lg"
        />
      </div>

      <div class="w-full order-1 md:order-none">
        <app-login></app-login>
      </div>
  
    </div>
  </div>
  