<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex items-center justify-center">
    <div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex items-center justify-center">
      <div class="relative p-5 w-full max-w-md m-auto bg-white rounded-xl shadow-lg h-[6cm] flex flex-col justify-center">
        <div class="text-center">
          <h2 class="text-xl font-semibold text-gray-800">{{ successMessage }}</h2>
        </div>
        <button 
          class="mt-6 px-6 py-3 w-full rounded-md bg-[#4D47C3] text-white font-semibold hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400"
          [routerLink]="'/login'">
          Connexion
        </button>
      </div>
    </div>
  </div>
  