<div class="flex min-h-screen">

    <!-- Main Content -->
    <div class="flex-1 p-4">
       


    <!-- Discover Your Dream Job Message -->
    <div class="flex items-center justify-center bg-[#f5f7fc] pt-6 mb-2">
    <div class="flex items-center justify-between bg-[#e2e7ff] rounded-xl p-6 w-3/4 max-w-4xl shadow-lg relative">
      <!-- Texte -->
      <div class="w-2/3">
        <h2 class="text-lg font-semibold italic text-gray-800">
          Découvrez votre emploi de rêve avec <span class="font-bold">Find Me</span>
        </h2>
        <p class="text-gray-600 mt-2">
          Ne laissez pas vos rêves de carrière rester des rêves ; transformez-les en réalité avec notre produit et découvrez l'emploi de vos rêves dès aujourd'hui.
        </p>
        <button class="mt-4 px-5 py-2 border border-[#9a8cff] text-[#7a66cc] font-semibold rounded-full hover:bg-[#d8dfff]">
          Découvrir
        </button>
      </div>
      <!-- Points -->
      <div class="absolute right-15 top-[70%] transform -translate-y-1/2 translate-x-[470px] flex gap-2">
        <span class="w-2 h-2 bg-[#7a66cc] rounded-full"></span>
        <span class="w-2 h-2 bg-gray-400 rounded-full"></span>
        <span class="w-2 h-2 bg-gray-400 rounded-full"></span>
      </div>
      <!-- Illustration -->
      <div class="w-1/4 flex ml-2 justify-end transform translate-x-[20px]">
        <img src="assets/images/cv-informationPersonnelle/16.png" alt="Illustration" class="w-full">
      </div>
    </div>
    </div>
    <div class="flex justify-center">
        <!-- Create CV Component -->
      <app-upload-cv></app-upload-cv>
    </div>
</div>
