
    <div class="mx-auto bg-[#F4F7FE] p-6">
        <div class="flex flex-wrap justify-center">
            <!-- Card 1: Configurez votre profil -->
            <div class="w-full sm:w-1/5 md:w-1/5 lg:w-1/5 p-4">
                <div class="bg-white rounded-lg shadow-md p-6 h-96 text-center">
                    <img src="assets/images/Page_Register/ConfigurerProfileImage.png" 
                         alt="Espace candidat & recruteur" 
                         class="mx-auto h-32 w-32 mb-8 object-cover"> <!-- Increased margin-bottom here -->
                    <h2 class="text-base font-semibold text-blue-800 mb-2">Configurez votre profil!</h2>
                    <p class="text-xs text-gray-700 text-justify">
                        Inscrivez-vous en quelques minutes, complétez votre profil avec vos informations professionnelles et téléchargez votre CV facilement.
                    </p>
                </div>
            </div>  
    
            <!-- Card 2: Espace candidat & recruteur -->
            <div class="w-full sm:w-1/5 md:w-1/5 lg:w-1/5 p-4">
                <div class="bg-white rounded-lg shadow-md p-6 h-96 text-center">
                    <img src="assets/images/Page_Register/Espace_candidat_&_recruteur.png" 
                         alt="Espace candidat & recruteur" 
                         class="mx-auto h-32 w-32 mb-8 object-cover" 
                         style="clip: rect(0px, 400px, 110px, 200px);"> <!-- Increased margin-bottom here -->
                    <h2 class="text-base font-semibold text-blue-800 mb-2">Espace candidat &amp; recruteur</h2>
                    <p class="text-xs text-gray-700 text-justify">
                        Recruteurs, identifiez les talents qui répondent aux besoins de votre entreprise ou de vos clients. Candidats, explorez des offres d'emploi pour enrichir votre parcours professionnel.
                    </p>
                </div>
            </div>
    
            <!-- Card 3: Recherchez des talents -->
            <div class="w-full sm:w-1/5 md:w-1/5 lg:w-1/5 p-4">
                <div class="bg-white rounded-lg shadow-md p-6 h-96 text-center">
                    <img src="assets/images/Page_Register/Recherchez_des talents.png" 
                         alt="Recherchez des talents" 
                         class="mx-auto h-32 w-32 mb-8 object-cover" 
                         style="clip: rect(0px, 600px, 110px, 400px);"> <!-- Increased margin-bottom here -->
                    <h2 class="text-base font-semibold text-blue-800 mb-2">Recherchez des talents!</h2>
                    <p class="text-xs text-gray-700 text-justify">
                        Parcourez les profils, filtrez par compétences ou expérience et trouvez la personne idéale pour votre emploi. C'est simple et efficace !
                    </p>
                </div>
            </div>  
        </div>
    </div>
